@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,700&display=swap");
* {
  font-family: "Ubuntu Mono", monospace;
}

.appMain {
  color: antiquewhite;
  background-color: #000000f7;
  background-image: url(./assets/stars2.png);
  animation: infiniteScroll 50s linear infinite;
}

@keyframes infiniteScroll {
  0% {
    background-position: 0% 0;
  }
  50% {
  }
  100% {
    background-position: 100% 0;
  }
}

.contactForm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.form__field {
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 25px;
  caret-color: #00c24a;
}
.form__field:focus {
  border-bottom: 2px solid #00c24a;
}
.formBtn {
  background-color: #00c24a;
  border: none;
  padding: 5px 20px 5px 20px;
  color: #171718;
}
.formBtn:hover {
  background-color: #00782e;
  transition: 1s;
}
.formTitle {
  font-weight: bold;
}
.resume {
  background-color: #00c24a;
  color: #171718;
}
.resume:hover {
  background-color: #009290;
  color: aliceblue;
  transition: 0.8s;
}
