.pageHeader {
  height: 400px;
  background: linear-gradient(to right, #00ff7b98, rgba(0, 242, 255, 0.479)),
    url(https://grainy-gradients.vercel.app/noise.svg);
  align-items: center;
  justify-content: center;
  height: 400px;
}
.pageHeaderText {
  color: rgb(0, 41, 96);
}
.contactImage{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .contactImage {
      width: 100%;
      height: 100%;
  }
}