.aboutMeTitle {
  background: linear-gradient(to right, #00ff7b98, rgba(0, 242, 255, 0.479)),
    url(https://grainy-gradients.vercel.app/noise.svg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
}
.aboutMeText {
  font-size: 25px;
  color: rgba(251, 251, 251, 0.891);
}
.aboutMeList {
  font-size: 25px;
  border-left: #00c24a 2px solid;
}
