.hero {
  min-height: 100vh;
  padding-top: 20px;
}
.heroSecondP {
  font-size: 30px;
  color: rgba(251, 251, 251, 0.891);
  transition: 2s;
}
.heroSecondP span {
  background: linear-gradient(to right, #00ff7b98, rgba(0, 242, 255, 0.479)),
    url(https://grainy-gradients.vercel.app/noise.svg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
}

.heroFristP {
  color: #00c24a;
  font-size: 40px;
}
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #00c24a; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
  font-size: 100px;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .heroSecondP span {
    font-size: 40px;
  }

  .heroFristP {
    font-size: 30px;
  }

  .typewriter {
    font-size: 40px;
  }
}

.textBelowName {
  font-size: 60px;
  color: rgba(255, 255, 255, 0.448);
  transition: 2s;
}
