.logo {
  background: linear-gradient(to right, hsl(98, 100%, 14%), hsl(204, 88%, 55%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px !important;
  font-weight: 400;
}
.toggleButton {
  background: linear-gradient(to right, hsl(98 100% 62%), hsl(204 100% 59%));
}
.toggle {
  border: none !important;
  outline: none;
}
